[Unit]
Description=Prometheus Server
After=network-online.target

[Service]
User=root

ExecStart=/home/leerobo/prometheus/prometheus \
  --config.file=/home/leerobo/prometheus/prometheus.yml 

[Install]
WantedBy=multi-user.target
